@import "@/app/styles/main";

.header {
  @include flex-center-space-between;
  z-index: 10;
  background: $background-color-transparent;
  padding: 10px 30px;
  border-bottom: 2px solid $accent-color;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  .logo {
    width: 230px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1rem;
  }
  @include respond-to(md, min) {
    padding: 30px 80px;
    .logo {
      font-size: 1.5rem;
    }
  }
}
