$primary-color: #ffffff;
$alert-color: #c70303;
$accent-color: #00FF7F;
$background-color: #08122F;
 
:export {
  primaryColor: $primary-color;
  accentColor: $accent-color;
  backgroundColor: $background-color;
  alertColor: $alert-color;
}