$primary-color: #ffffff;
$alert-color: #c70303;
$accent-color: #00ff7f;
$background-color: #08122f;
$secondary-color: #08122f;
$background-color-transparent: #08122f9a;

$breakpoints: (
  xs: 0,
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
);
