@import "@/app/styles/main";

.hero {
  color: $accent-color;
  text-transform: uppercase;
  min-height: 80dvh;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  .wrapper {
    @include flex-end-column-center-start;
  }

  h1 {
    font-size: 2.7rem;
    line-height: 33px;
    padding-top: 90px;
  }

  .chevronIcon {
    bottom: -22%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .chevronIcon,
  .fillStar {
    position: absolute;
  }

  .fillStar {
    top: 20px;
    right: -30px;
  }

  .glass {
    width: 290px;
    height: auto;
    margin-top: 40px;
  }

  @include respond-to(md, min) {
    min-height: 90dvh;
    @include flex-row-center;
    h1 {
      font-size: 6rem;
      line-height: 67px;
      max-width: 748px;
    }
    justify-content: space-between;
    .fillStar {
      right: -80px;
    }
    .chevronIcon {
      bottom: 0;
    }
    .glass {
      width: 400px;
      height: auto;
    }
  }
}
