@import "@/app/styles/main";

.hero {
  color: $accent-color;
  text-transform: uppercase;
  min-height: 85vh;
  position: relative;

  @include flex-end-column-center-start;
  h1 {
    max-width: 748px;
  }
  .icon {
    position: absolute;
    top: 40px;
    right: -80px;
  }

  @include respond-to(md, min) {
    min-height: 100vh;
    justify-content: center;
  }
}
