.portfolioWrapper {
  min-height: 100vh;
  background: #15151e;
}

.races {
  width: fit-content;
  display: flex;
  flex-wrap: nowrap;
}

.races h2 {
  font-size: 30vw;
  flex-shrink: 0;
  padding-right: 0.3em;
  padding-left: 0.3em;
  color: #e10600;
  margin: 0;
}

.races h2:last-of-type {
  background: #e1e1ff;
}
