@import "@/app/styles/main";
.descriptionContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 50px;
  height: 90vh;
  @include respond-to(lg, min) {
    flex-direction: row;
    .firstParagraph,
    .thirdParagraph {
      font-size: 2rem;
      text-align: left;
    }
    .firstParagraph {
      text-align: left;
      width: 30%;
      // background-color: red;
    }
    .secondParagraph {
      font-size: 3.1rem;
      width: 39%;
      // background-color: green;
      text-align: center;
      @include flex-center;
    }
    .thirdParagraph {
      width: 30%;
      // background-color: purple;
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: flex-end;
    }
  }
}
